@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";

// customize bootstrap variables here:
@import "variables";
@import "bootstrap";

h1 {
  font-weight: 100;
  text-align: center;
}
.plum {
  text-align: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
